.card {
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: black;
}
